<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>6 Week Fitness Challenge</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>

<body>

<div class="bg">
  <div class="container-fluid">
    <div class="row vertical-center h-row">
      <h1 class="display-4 loginHeader text-center mx-auto">Git Fit in 6 Weeks</h1>
    </div>
    <div class="row vertical-center p-row">
      <h4 class="text-white text-center mx-auto">Are you up for the challenge?</h4>
    </div>

{{{ body }}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/assets/js/index.js">
</body>

</html>