  <section>
    <div class="text-container col-8">
      <h5 class="welcome-header"> Let's Get Started! </h5>
      <p class="welcome-text">Welcome on board to the Get Fit In 6 - 6 Week Fitness Challenge! <br>
      We are so excited to be working with you - and look forward to seeing the incredible results you achieve over the next 6 weeks.
      Show up every single day, especially on the days you don't feel like it and just bloody do it. Leave all the excuses at the door and you just do it.</p>
    </div> 
    </section>

{{!-- display all 10 workouts--}}
  <section class="container thumbnail-container">
    <div class="row">
 {{#each weekList as |week|}}
  {{> weeks-list}}
  {{/each}}
        <div class="card col-12 col-lg-4 col-md-6">
        <a href="./weekly-content\week1.html"><img class="card-img-top" src="/assets/css/images/Cardio Blast Thumbnail.jpg" alt="Card image cap"></a>
        <div class="card-body">  
          <h4 class="card-title">Checkout your progress</h4>
          <p class="card-text">
            <a href="/congratulations" class="start-workout">Checkout Your Progress</a> <br>
            Compare all of your fitness and progress tests to see how you are tracking on the program.          
          </p> 
          <a href="/progress" class="btn main-Btn btn-primary" role="button">Checkout Your Progress</a>
        </div>
      </div>

  
  </section>
