<header class="main-image">
    <div class="hero-container">
      <h1 class="text-left text-white welcome-name">welcome olivia</h1>
  </header>

  <section>
    <div class="text-container col-8">
      <h5 class="welcome-header"> Welcome, {{name}}!</h5>
      <p class="welcome-text">Welcome on board to the Get Fit In 6 - 6 Week Fitness Challenge! <br>
      We are so excited to be working with you - and look forward to seeing the incredible results you achieve over the next 6 weeks.
      Show up every single day, especially on the days you don't feel like it and just bloody do it. Leave all the excuses at the door and you just do it.</p>
    </div>
    </section>

  <section class="container thumbnail-container">
    <div class="row">
      <div class="card col-12 col-lg-4 col-md-6">
        <a href="./weekly-content\week1.html"><img class="card-img-top" src="./assets/css/Cardio Blast Thumbnail.jpg" alt="Card image cap"></a>
        <div class="card-body">  
          <h4 class="card-title">{{Week 1}}</h4>
          <p class="card-text">
            <a href="./weekly-content\week1.html" class="start-workout">View Week {{week_num}}</a> <br>
            Some quick example text to build on the card title
            and make up the bulk of the card's content. <br>          
          </p> 
          <button type="button" onclick="week1Complete()" class="btn main-Btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Mark as complete</button>
        </div>
      </div>

      <div class="card col-12 col-lg-4 col-md-6 week2-card" id="week-2" style="display:none;">
        <img class="card-img-top" src="./assets/css/Cardio Blast Thumbnail.jpg" alt="Card image cap">
        <div class="card-body">  
          <h4 class="card-title">Week 2</h4>
          <p class="card-text">
            <a href="./weekly-content\week2.html" class="start-workout">View Week 2</a> <br>
            Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
          <button type="button" onclick="week2Complete()" class="btn main-Btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Mark as complete</button>
        </div>
      </div>

      <div class="card col-12 col-lg-4 col-md-6" id="week-3" style="display:none;">
        <img class="card-img-top" src="./assets/css/Cardio Blast Thumbnail.jpg" alt="Card image cap">
        <div class="card-body">  
          <h4 class="card-title">Week 3</h4>
          <p class="card-text">
            <a href="./weekly-content\week3.html" class="start-workout">View Week 3</a> <br>
            Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
          <button type="button" onclick="week3Complete()" class="btn main-Btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Mark as complete</button>
        </div>
      </div>

      <div class="card col-12 col-lg-4 col-md-6"  id="week-4" style="display:none;">
        <img class="card-img-top" src="./assets/css/Cardio Blast Thumbnail.jpg" alt="Card image cap">
        <div class="card-body">  
          <h4 class="card-title">Week 4</h4>
          <p class="card-text">
            <a href="./weekly-content\week4.html" class="start-workout">View Week 4</a> <br>
            Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
          <button type="button" onclick="week4Complete()" class="btn main-Btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Mark as complete</button>
        </div>
      </div>

      <div class="card col-12 col-lg-4 col-md-6" id="week-5" style="display:none;">
        <img class="card-img-top" src="./assets/css/Cardio Blast Thumbnail.jpg" alt="Card image cap">
        <div class="card-body">  
          <h4 class="card-title">Week 5</h4>
          <p class="card-text">
            <a href="./weekly-content\week5.html" class="start-workout">View Week 5</a> <br>
            Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
          <button type="button" onclick="week5Complete()" class="btn main-Btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Mark as complete</button>
        </div>
      </div>

      <div class="card col-12 col-lg-4 col-md-6" id="week-6" style="display:none;">
        <img class="card-img-top" src="./assets/css/Cardio Blast Thumbnail.jpg" alt="Card image cap">
        <div class="card-body">  
          <h4 class="card-title">Week 6</h4>
          <p class="card-text">
            <a href="./weekly-content\week6.html" class="start-workout">View Week 5</a> <br>
            Some quick example text to build on the card title
            and make up the bulk of the card's content.
          </p>
          <button type="button" class="btn main-Btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Mark as complete</button>
        </div>
      </div>
    </div>
  </section>  

  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title welcome-header" id="exampleModalLongTitle">It's fitness testing time...</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Before you move onto the next week let's check in on your progress. <br> Set the timer for 60 seconds and complete as many reps of each of the below exercise (with correct technique) and enter the number of reps you complete.</p>
        </div>
        <form>
          <div class="form-group" id="popup-form">
            <label for="exercise-pushups" class="col-form-label">Pushups</label>
            <input type="text" class="form-control form-text" id="exercise-pushups" placeholder="Pushups completed">
          </div>
          <div class="form-group" id="popup-form">
            <label for="exercise-situps" class="col-form-label">Situps</label>
            <input type="text" class="form-control form-text" id="exercise-situps" placeholder="Situps completed">
          </div>
          <div class="form-group" id="popup-form">
            <label for="exercise-burpees" class="col-form-label">Burpees</label>
            <input type="text" class="form-control form-text" id="exercise-burpees" placeholder="Burpees completed">
          </div>
        </form>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary popup-btn">Submit</button>
        </div>
      </div>
    </div>
  </div>

