<div class="row vertical-center">
      <form action="/login" methond="post" class="mx-auto col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-4 col-lg-3 col-lg-offset-5">
          <p>
            <label class="sr-only" for="">First Name</label>
            <input class="form-control" type="name" placeholder="First Name" required autofocus>
          </p>
          <p>
            <label class="sr-only" for="">Last Name</label>
            <input class="form-control" type="name" placeholder="Last Name" required autofocus>
          </p>
          <p>
            <label class="sr-only" for="">Email Address</label>
            <input class="form-control" type="email" placeholder="Email Address" required autofocus>
          </p>
          <p>
            <label class="sr-only" for="">Password</label>
            <input class="form-control" type="password" placeholder="Password" required>
          </p>
          <button class="btn btn-primary btn-block main-Btn" type="sumbit">Sign In</button>
          <p class="text-white text-center sub-text">Already have an account? Login here <br> Terms of Service </p>
        </form>
    </div>