<div class="row vertical-center">
      <form class="mx-auto col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-3 col-md-4 col-sm-offset-4 col-lg-3 col-lg-offset-5">
          <p>
            <label class="sr-only" for="">Name</label>
            <input class="form-control" id="name-signup" type="name" placeholder="First Name" required autofocus>
          </p>
          <p>
            <label class="sr-only" for="">Email Address</label>
            <input class="form-control" id="email-signup" type="email" placeholder="Email Address" required autofocus>
          </p>
          <p>
            <label class="sr-only" for="">Password</label>
            <input class="form-control" id="password-signup" type="password" placeholder="Password" required>
          </p>
          <button type="submit" class="btn btn-primary btn-block main-Btn" id="signup-form" >Sign In</button>
          <p class="text-white text-center sub-text">Already have an account? <a href="/login"> Login Here </a></p>
        </form>
    </div>

    <script src="./assets/js/signup.js"></script>