<header class="main-image">
    <div class="hero-container">
      <h1 class="text-left text-white welcome-name">WEEK 1</h1>
  </header>

  <section>
    <div class="text-container col-8">
      <h5 class="welcome-header"> Let's Get Started! </h5>
      <p class="welcome-text">Welcome on board to the Get Fit In 6 - 6 Week Fitness Challenge! <br>
      We are so excited to be working with you - and look forward to seeing the incredible results you achieve over the next 6 weeks.
      Show up every single day, especially on the days you don't feel like it and just bloody do it. Leave all the excuses at the door and you just do it.</p>
      <a href="..\index.html" class="btn main-Btn btn-primary" role="button">Go back</a>
    </div> 
    </section>


{{!-- create for loop for each of the 5 workout cards--}}

{{#each workout_b}}

  <section class="container thumbnail-container">
    <div class="row">
      <div class="card col-12 col-lg-4 col-md-6">
        <div class="iframe-container">
          <iframe width="560" height="315" src= {{src}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="card-body">  
          <h4 class="card-title">{{workout_title}}</h4>
          <p class="card-text"> {{description}}
          </p>
          <a href= {{href}} class="btn main-Btn btn-primary btn-sm" role="button">Start workout</a>
        </div>
      </div>

    {{/each}}