  <section class="container">
    <div class="row">
      <div class="iframe-container">
        <iframe width="560" height="315" src= '{{workout.youtube}}' title='YouTube video player' frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>  
      <section>
        <div class="text-container col-8">
          <h5 class="welcome-header"> Workout Number {{workout.workout_num}} | {{workout.workout_title}} </h5>
          <p class="welcome-text"> {{workout.workout_description}}</p>
          <a href= "/library" ="btn main-Btn btn-primary" role="button">Go back</a>
        </div>
          
        </div>
      </div>
  </section>