<section class="container">
    <div class="row">
      <div class="iframe-container">
        <iframe width="560" height="315" src={{src}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>  
      <section>
        <div class="text-container col-8">
          <h5 class="welcome-header"> {{workout_header}} </h5>
          <p class="welcome-text">{{description}}</p>
          <a href="..\index.html" class="btn main-Btn btn-primary" role="button">Go back</a>
        </div>
          
        </div>
      </div>
    </section>