{{> home-header}}

  <section>
    <div class="text-container col-8">
      <h5 class="welcome-header"> WEEEK {{num}} - Let's Do It! </h5>
      <p class="welcome-text">{{week_description}}</p>
      <a href="/" class="btn main-Btn btn-primary" role="button">Go back</a>
    </div> 
    </section>

{{!-- display all 9 workouts--}}
  <section class="container thumbnail-container">
    <div class="row">
      {{#each workouts as |workout|}}
        {{> workout-details}}
        {{/each}}
  </section>