body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("./images/Cardio\ Blast\ Thumbnail.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical-center {
    display: flex;
    align-items: center;
  }

  .h-row{
    padding-top: 20vh;
  }

  .p-row{
    padding-bottom: 3vh;
    }

  .loginHeader{
    color: #ffcdd5;
    text-align: center;
    font-weight: bold;
}
.sub-text{
  margin-top: 2vh;
}

.main-Btn {
  background-color: #ffcdd5;
  text-align: center;
  color: white;
  border: transparent;
  border-radius: 30px;
}